{% extends "templates/store/base.html" %} {% block body %}
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<main class="container mb-6">
  <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
    <ul>
      <li><a href="/store">Store</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">{{ doc.name }}</a>
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-one-third">
      <img
        class="cover-image px-6"
        src="{{ doc.cover_image }}"
        alt="Book Cover Image"
      />
    </div>
    <div class="column">
      <div>
        <h1 class="title is-1">{{ doc.name }}</h1>
        <h2 class="subtitle is-4">by {{ author.name }}</h2>
      </div>

      <div class="mt-3">
        <span class="tag is-link is-normal">{{ doc.format }}</span>
      </div>

      <div>
        <button
          id="buy-button"
          data-ebook-name="{{ doc.name }}"
          class="button is-medium is-outlined is-link mt-5"
        >
          Buy
        </button>
      </div>
      <div>
        <button
          id="pay-button"
          class="button is-medium is-outlined is-link mt-5 btn-primary"
        >
          Mpesa Pay
        </button>
      </div>
    </div>
  </div>
</main>

<section class="container" x-data="{activeTab: 'description'}">
  <div class="tabs">
    <ul>
      <li
        :class="activeTab == 'description' ? 'is-active': ''"
        @click="activeTab = 'description'"
      >
        <a>Description</a>
      </li>

      <li
        :class="activeTab == 'toc' ? 'is-active': ''"
        @click="activeTab = 'toc'"
      >
        <a>TOC</a>
      </li>

      <li
        :class="activeTab == 'bio' ? 'is-active': ''"
        @click="activeTab = 'bio'"
      >
        <a>About the author</a>
      </li>
    </ul>
  </div>

  <div x-show="activeTab == 'description'">
    <p>{{ frappe.utils.md_to_html(doc.description) }}</p>
  </div>

  <div x-show="activeTab == 'toc'">
    <p>{{ frappe.utils.md_to_html(doc.toc) }}</p>
  </div>

  <div x-show="activeTab == 'bio'">
    <p>{{ frappe.utils.md_to_html(author.bio) }}</p>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get a reference to the Buy button
    var buyButton = document.getElementById("buy-button");

    // Attach a click event listener
    buyButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default link behavior

      // Retrieve the ebook_name from the data attribute
      var ebookName = buyButton.getAttribute("data-ebook-name");

      // Make an AJAX request to the API endpoint
      const headers = {
        Accept: "application/json",
        "Content-Type": "application/json; charset=utf-8",
        "X-Frappe-CSRF-Token": "{{ csrf_token }}",
        Expect: "",
      };

      fetch("/api/method/star_ebook_store.www.api.create_ebook_order", {
        method: "POST",
        body: JSON.stringify({
          ebook_name: ebookName, // Use the retrieved value
        }),
        headers: headers,
      })
        .then(function (response) {
          if (response.ok) {
            return response.json();
          } else {
            throw Error("Something went wrong");
          }
        })

        .then(function (orderData) {
          // Handle the response here if needed
          alert("Order created successfully. Order ID: ");
        })

        .catch(function (error) {
          // Handle errors here
          alert(error.message);
        });
    });
  });
</script>

<!--pay button mpesa-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get a reference to the "Mpesa Pay" button
    var payButton = document.getElementById("pay-button");

    // Attach a click event listener
    payButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default button behavior

      // Make an AJAX request to the API endpoint for Mpesa payment
      access_token = "KVsZ0izc6IFUmnUPgNwICyuIFEm4";
      const headers = {
        Accept: "application/json",
        "Content-Type": "application/json; charset=utf-8",
        "X-Frappe-CSRF-Token": "{{ csrf_token }}",
        Authorization: "Bearer " + access_token,
        Expect: "",
      };

      fetch("/api/method/star_ebook_store.www.api.push_mpesa_stk", {
        // Replace with the actual API endpoint
        method: "POST",
        body: JSON.stringify({
          // Include any necessary data for Mpesa payment
        }),
        headers: headers,
      })
        .then(function (response) {
          if (response.ok) {
            return response.json();
          } else {
            throw Error("Something went wrong");
          }
        })

        .then(function (paymentData) {
          // Handle the response here if needed
          // For example, you can redirect to the Mpesa payment page or display a message
          alert(
            "Initiating Mpesa payment. Payment ID: " + paymentData.payment_id
          );
        })

        .catch(function (error) {
          // Handle errors here
          alert(error.message);
          console.log(error.message);
        });
    });
  });
</script>

{% endblock %}
